
# --- Common --- #
common_tags = {
  "App"         = "Bind9-DNS"
  "Owner"       = "ProfessorHojo"
  "Terraform"   = "cli"
  "Environment" = "test"
}
prefix   = "dnsbind"
location = "east us"

# --- DNS Server --- #
resource_group_name   = "prereqs-rg"
subnet_id             = "/subscriptions/12345678-1111-aaaa-2222-abcdefg123/resourceGroups/prereqs-rg/providers/Microsoft.Network/virtualNetworks/dns-vnet/subnets/dns-subnet"
dns_server_private_ip = "10.0.2.60"
hostname = "binddns"
admin_username        = "binddnsadmin"
ssh_public_key        = "ssh-rsa AAAAB3Nzxxx= example@example"

# --- DNS Configuration --- #
listen_on_cidrs     = ["10.0.2.0/24", "172.22.1.0/24"]
forwarders          = ["8.8.8.8", "8.8.4.4", "168.63.129.16"]
dns_zone            = "mydomain.com"
soa_username        = "root"
a_record_servername = "app.mydomain.com"
a_record_ip_address = "10.0.2.4"